---
layout: default
---

{% include assets-origin.html %}
<div class="about-layout">
    <div class="row">
    <!-- core -->
    <div id="core-wrapper" class="col-12 col-lg-12 col-xl-6 pr-xl-6">
        <div class="about_user-info">
            <img src="/assets/img/rick.png">
        </div>
    </div>
    <div id="core-wrapper" class="col-12 col-lg-12 col-xl-6 pr-xl-6">
        <div class="about_user-info"></div>
    </div>
    </div>
    <div class="row">
    <!-- core -->
    <div id="core-wrapper" class="col-12 col-lg-12 col-xl-6 pr-xl-6">
        <div class="about_user-info"></div>
    </div>
    <div id="core-wrapper" class="col-12 col-lg-12 col-xl-6 pr-xl-6">
        <div class="about_user-info"></div>
    </div>
    </div>
    <div class="row">
    <!-- core -->
    <div id="core-wrapper" class="col-12 col-lg-12 col-xl-6 pr-xl-6">
        <div class="about_user-info"></div>
    </div>
    <div id="core-wrapper" class="col-12 col-lg-12 col-xl-6 pr-xl-6">
        <div class="about_user-info"></div>
    </div>
    </div>
</div>
